
#CTA{
    justify-content: center;
}
#CTA a{
    display: flex;
    max-height: 600px;
    max-width: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#CTA #introCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

@media (min-width: 1080px) {
    #CTA > a{
        display: inline-flex;
        flex-direction: row;
        min-height:75px !important;
        min-width: 200px !important;
        padding: 20px;
        justify-content: center;
        border-radius: 5px;
    }

}

@media (max-width: 1080px) and (min-width: 648px) {
    #CTA a{
        display: inline-flex;
        flex-direction: row;
        max-height: 100px !important;
        max-width: fit-content !important;
        min-width: 250px !important;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
    }
    #CTA {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

    }
}

@media (min-width: 1080px) {
    #CTA a{
        display: inline-flex;
        flex-direction: row;
        max-height: 100px !important;
        max-width: fit-content !important;
        min-width: 250px !important;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
    }
}